body {
  padding-top: 4.5rem;
  position: relative;
}

.flag {
  background-image: url(flag.jpg);
  background-size: cover;
  background-position: left;
  position: relative;
  color: #eee;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
}
